$lighter: #F7931A;
$light: #A56F49;
$neutral: #FFF0E5;
$dark: #505050;
$darker: #333333;

$breakpoint-micro: 380px;
$breakpoint-xsmall: 480px;
$breakpoint-small: 640px;
$breakpoint-tablet: 770px;
$breakpoint-medium: 990px;
$breakpoint-large: 1100px;
$breakpoint-xlarge: 1280px;
